.bg-theme {
    background-color: #0165D4;
    color: white;
}

.color-theme {
    color: #0165D4;
}

.options a {
    color: white;
    border: white 1px solid;
    padding: 10px;
    margin-top: 40px;
    text-decoration: none;
}

.font-w {
    font-weight: bolder;
}

.options a:hover {
    opacity: 0.5;
    color: white;
}

.top-width {
    width: 15vw;
}

.wide {
    display: inline-block;
    /* width: 1100px; */
    width: 80vw;
    height: 60px;
}

.font-14 {
    font-size: 14px;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}



input {
    width: 500px;
    height: 500px;
}

img {
    border-radius: 10px;
}

.bg-dropdown-theme:hover {
    background-color: #0136AA;
    color: white;
}

.navbar-collapse .nav-text-color, .navbar-toggler-icon {
    color: white;
}

.white {
    color: white;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-link:hover {
    background-color: #1148AC;
}

.reverse-theme {
    background-color: white;
    color: #0165D4;
}

.event-info:hover {
    background-color: #D6E7FA;
    color: #0165D4;
}

footer {
    background-color: #1F262D;
    color: #9DB4B6;
    line-height: 7px;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

.relative {
    position: relative;
    text-align: center;
}

.bottom-left {
    position: absolute;
    bottom: 0.4vw;
    left: 1.5vw;
    padding: 0.5vw;
    background-color: #5A646C;
    color: white;
    line-height: 0.5vw;
    width: 11vw;
}

.top-right {
    position: absolute;
    top: 0.7vw;
    right: 1.8vw;
    padding: 0.5vw;
    background-color: #5A646C;
    color: white;
    line-height: 0.6vw;
    width: 2.5vw;
}

.less-md {
    display: none;
}

@media screen and (max-width: 767px) {
    .less-md {
      display: block;
    }
  }